<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="C:\Users\Ejer\Desktop\demo-spring\src\main\resources\static\stylesheet.css"
          th:href="@{stylesheet.css}"/>
    <title>Title</title>
    <div class="jumbotron text-center">
    <h1>This is fidasdasdrst header</h1>
    <h2>This is secound heade</h2>
    </div>
</head>
<body>

<div class="jumbotron text-center">
    First name: <input type="text"name="Insert first name"><br>
    Lasssst name: <input type="text"name="Insert last name"><br>
</div>
<div class="jombotron text-center">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>

</div>


</body>
</html>